.sekil{
    height: 400px;
    background-image:url(ayselus.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sekill{
    background-image:url(kedi.png);
}
.sekilll{
     background-image:url(yeni\ ill.jpg);
}